<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Travling Recruitment</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <style>
    .content {
      width: 40%;
      background-color: white;
    }
    
    .rating {
      position: relative;
      width: 200px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .3em;
      padding: 5px;
      overflow: hidden;
      border-radius: 20px;
    }

    .rating__result {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-10px) translateX(-5px);
      z-index: -9;
      font: 3em Arial, Helvetica, sans-serif;
      color: #ebebeb8e;
      pointer-events: none;
    }

    .rating__star {
      font-size: 1.3em;
      cursor: pointer;
      color: #dabd18b2;
      transition: filter linear .3s;
    }

    .rating__star:hover {
      filter: drop-shadow(1px 1px 4px gold);
    }
  </style>
</head>

<body style="background-color: #95A5A6;">
  <div class="content mx-auto">
    <div class="row col-md-12">
      <div class="col-md-6">
        <h1 style="padding: 20px;">Review</h1>
      </div>
      <div class="col-md-6">
        <div class="rating float-end" style="margin-top: 30px;">
          <span class="rating__result"></span>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script>
    const ratingStars = [...document.getElementsByClassName("rating__star")];
    const ratingResult = document.querySelector(".rating__result");

    printRatingResult(ratingResult);

    function executeRating(stars, result) {
      const starClassActive = "rating__star fas fa-star";
      const starClassUnactive = "rating__star far fa-star";
      const starsLength = stars.length;
      let i;
      stars.map((star) => {
        star.onclick = () => {
          i = stars.indexOf(star);

          if (star.className.indexOf(starClassUnactive) !== -1) {
            printRatingResult(result, i + 1);
            for (i; i >= 0; --i) stars[i].className = starClassActive;
          } else {
            printRatingResult(result, i);
            for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
          }
        };
      });
    }

    function printRatingResult(result, num = 0) {
      result.textContent = `${num}/5`;
    }

    executeRating(ratingStars, ratingResult);
  </script>
</body>

</html>